[mysql]
port                            = 3306
default_character_set           = utf8mb4
socket                          = /mysql_data/tmp/mysql.sock

#character_set_client            = utf8mb4           # 客户端按照此字符集传输数据

[mysqld]
########## basic setting#########
#user                            = mysql
server_id                       = 1001              #搭建复制时，必填
port                            = 3306
basedir                         = /usr/local/mysql  #安装目录
datadir                         = /mysql_data/data  #数据目录
tmpdir                          = /mysql_data/tmp   #临时目录
socket                          = /mysql_data/tmp/mysql.sock
#bind_address                    = 192.168.1.103     #当前的MySQL实例绑定在哪个ip上，默认是所有的ip，一般是绑定到内网ip上
sql_mode                        = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,ONLY_FULL_GROUP_BY
autocommit                      = 1                 #自动提交
character_set_server            = utf8mb4           #4个字节，支持emoji
transaction_isolation           = READ-COMMITTED    #默认隔离级别是：repeatable-read
explicit_defaults_for_timestamp = 1
max_allowed_packet              = 16777216          #16M  server端接受的最大包大小，大于此设置时，请求将会被截断
event_scheduler                 = 1

#character_set_connection        = utf8mb4           # 接收客户端SQL语句时，使用这个字符集
#character_set_database          = utf8mb4
#character_set_results           = utf8mb4           # 服务器返回客户端数据或者错误信息时的字符集
#character_set_server            = utf8mb4           # 创建数据库时，数据库默认字符集


########## query cache   #########
query_cache_limit               = 1048576           # 缓存的最大查询结果数
query_cache_min_res_unit        = 4096              # 分配内存块的最小单位（需要自己调节）
query_cache_size                = 1048576           # 查询缓存使用的总内存空间（单位：字节）
query_cache_type                = OFF               # on、off、demand。demand:只有在查询语句中明确写sql_cache时，才会缓存
query_cache_wlock_invalidate    = OFF               # 如果某个表被其它的连接锁住，是否从查询缓存中返回结果

########## engine   #########
#--skip-archive                  #关闭archive存储引擎
#--skip-blackhole                #
#

########## connection setting #####################
interactive_timeout             = 1800
wait_timeout                    = 1800
lock_wait_timeout               = 1800
# skip_name_resolve = 1                             #是否跳过用户登录
max_connections                 = 800
max_connect_errors              = 1000

########## session memory setting #####################
read_buffer_size                = 16M               
read_rnd_buffer_size            = 32M               # 查询语句返回结果集进行排序时，会使用这个参数，即：在内存中排序的大小，大于之后，将会在硬盘中进行
sort_buffer_size                = 32M               # order by时，排序所需的内存大小，排序的数量大于此值时，会产生文件排序
#max_length_for_sort_data        = 1024              # 控制排序算法，大于此值时:two-pass，小于此值时：single-pass。
tmp_table_size                  = 64M               # group by产生临时表时，临时表的大小
join_buffer_size                = 128M              # change buffer [update、delete操作]

########## log setting################
log_error                       = /mysql_data/log/error.log
slow_query_log                  = 1
slow_query_log_file             = /mysql_data/log/slow.log
log_queries_not_using_indexes   = 1                 #记录不使用索引的查询
log_slow_admin_statements       = 1
log_slow_slave_statements       = 1
log_throttle_queries_not_using_indexes = 10

expire_logs_days                = 90                # InnoDB 自动清理旧的二进制文件
long_query_time                 = 2                 # 记录大于2s的慢查询（不包含2s）
min_examined_row_limit          = 100               # 执行次数超过100的慢查询才会被记录
binlog-rows-query-log-events    = 1
log-bin-trust-function-creators = 1
log-slave-updates               = 1

########## innodb setting#######################
innodb_page_size                = 16384             #InnoDB单页大小
innodb_buffer_pool_size         = 1G                #InnoDB缓冲池大小，越大越好，一般使用机器内存的70%
innodb_buffer_pool_instances    = 8                 #InnoDB缓冲池个数，便于对缓冲池进行分开管理，根据Buffer_Pool大小适当设置
innodb_buffer_pool_load_at_startup  = 1             #数据库启动时，对恢复数据的操作策略
innodb_buffer_pool_dump_at_shutdown = 1             #数据库宕机时，对脏页的备份策略
innodb_lru_scan_depth           = 2048              #刷新脏页时，最多刷新多少个临近页，根据测试结果可以适当调整
innodb_lock_wait_timeout        = 5                 
innodb_io_capacity              = 4000              #将缓冲池中的脏页刷新到磁盘时，刷新多少个页
innodb_io_capacity_max          = 8000              #
innodb_file_per_table           = 1                 #是否每个表单独生成表空间

innodb_doublewrite              = 1                 # 保证数据完整性，支持原子写的操作系统可以关闭，在MySQL-NOTES.pdf中有详细介绍double-write

#innodb_flush_method             = O_DIRECT         #文件刷新策略
#innodb_file_format              = Barracuda        #
#innodb_file_format_max          = Barracuda
innodb_log_group_home_dir       = /mysql_data/redolog/
innodb_undo_directory           = /mysql_data/undolog/
innodb_undo_logs                = 128
innodb_undo_tablespaces         = 3
innodb_flush_neighbors          = 0
innodb_log_file_size            = 4G
innodb_log_buffer_size          = 16777216 # 16k
innodb_purge_threads            = 4
innodb_large_prefix             = 1
innodb_thread_concurrency       = 64
innodb_print_all_deadlocks      = 1
innodb_strict_mode              = 1
innodb_sort_buffer_size         = 67108864 # 65536k

########## replication setting#######################
master_info_repository          = TABLE
relay_log_info_repository       = TABLE
log_bin                         = /mysql_data/replication/bin.log
sync_binlog                     = 1
gtid_mode                       = on
enforce_gtid_consistency        = 1
log_slave_updates
binlog_format                   = row
binlog_rows_query_log_events    = 1
relay_log                       = /mysql_data/replication/relay.log
relay_log_recovery = 1
binlog_gtid_simple_recovery     = 1
slave_skip_errors               = ddl_exist_errors
slave_rows_search_algorithms    = 'INDEX_SCAN,HASH_SCAN' # default is TABLE_SCAN,INDEX_SCAN

########## semi sync replication settings########
plugin_dir                      = /usr/local/mysql/lib/plugin
plugin_load                     = "rpl_semi_sync_master=semisync_master.dll;rpl_semi_sync_slave=semisync_slave.dll"
rpl_semi_sync_master_enabled    = 1
rpl_semi_sync_master_timeout    = 5000
rpl_semi_sync_slave_enabled     = 1

[mysqld-5.7]
########## new innodb setting #
innodb_buffer_pool_dump_pct     = 40
innodb_page_cleaners            = 4
innodb_undo_log_truncate        = 1
innodb_max_undo_log_size        = 2G
innodb_purge_rseg_truncate_frequency = 128

log_timestamps                  = system            #时区信息，默认值：UTC

########## new replication setting ##########
slave_parallel_type             = LOGICAL_CLOCK     #无损复制
slave_parallel_workers          = 16                #工作线程个数
#slave_parallel_commit_order     = 1
slave_transaction_retries       = 128

########## other setting ##########
binlog_gtid_simple_recovery     = 1
log_timestamps                  = system
show_compatibility_56           = on
